{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-sm">
 <a href="{{ url_for('frontend.list_trades') }}">List of trades</a>
<br/>
<br/>
<br/>
<br/>
    </div>
    <div class="col-sm">
        <br/>
        <br/>
        <br/>

        <i class="fab fa-accessible-icon fa-10x fa-spin"></i>
    </div>
    <div class="col-sm">
    </div>
  </div>

<!--<i class="fa-10x fa-accessible-icon fa-spin"></i>-->
<!--<i class="fa-accessible-icon fa-spin"></i>-->
{% endblock%}

