{% extends "base.html" %}
{% block scripts %}
{% include 'scripts/websocket_update.js' %}

{% endblock %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">trade no.</th>
      <th scope="col">typology</th>
      <th scope="col">nominal</th>
        <th scope="col">price</th>
    </tr>
  </thead>
    <tbody>
{% for trade in trades %}
    <tr class="{{ trade.number }}">
      <th scope="row">{{ loop.index }}</th>
        <td>{{ trade.number }}</td>
        <td>{{ trade.typology }}</td>
        <td>{{ trade.nominal }}</td>
        <td class="price"><i class="fa-1x fas fa-sun fa-spin"></i></td>
    </tr>
{% endfor %}

  </tbody>
</table>
calculation channel: {{ uuid }}

{% endblock%}